.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-containerApp {
  display: grid;
  grid-gap: 50px 100px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(10, 1fr); */
  /* grid-template-rows: minmax(300, auto); */
  grid-auto-columns: minmax(300,400);
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a b b b b c c c"
    "a a b b b b c c c"
    "d d b b b b c c c"
    "d d b b b b c c c"
    "d d b b b b e e e"
    "d d b b b b e e e"
    "f f f f f f f f f"
    ;
  align-items: start;
}

.item1App {
  grid-area: a;
}

.item2App {
  grid-area: d;
}

.item3App{
  grid-area: b;
}

.item4App{
  grid-area: c;
}

.item5App{
  grid-area: e;
}

.item6App{
  grid-area: f;
}