.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-containerApp {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.item1App {
  grid-column: 1;
  grid-row: 1;
}

.item2App {
  grid-column: 1;
  grid-row: 2/auto;
}

.item3App{
  grid-column: 3;
  grid-row: 2/auto;
}
