table *{
    background-color: cadetblue;
    font-size: medium;
    border-radius: 20px;
}

td, th{
    background-color: rgb(40, 96, 161);
    color: rgb(243, 243, 243);
    font-size: medium;
    padding: 15px;
}